@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Marcellus&display=swap'); 
* {
  box-sizing: border-box;
}
.heading{
  display: flex;
  justify-content: center;
  font-family: 'Marcellus', serif;
  color: #2C2E43;
  font-size: 20px;

}
.logo{
  display: flex;
  justify-content: center;
  font-family: 'Inspiration', cursive;
  color: #2C2E43;
  font-size: 18px;
}
.body {
  font-family: 'Marcellus', serif;
  overflow: hidden;
  margin: 0;
  background: #ffffff;
  height: 100vh;
}
.container {
width: 100%;
display: flex;
padding: 0 5px;
}
.slide{
  height: 95vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #2C2E43;
  flex: 1;
  background-size: cover;
  background-position: 25% 30%;
  background-repeat: no-repeat;
  position: relative;
  transition: all 600ms ease-in-out;
}
.slide h3 {
  position: absolute;
  font-size: 30px;
  bottom: 30px;
  left: 20px;
  margin: 0;
  opacity: 0;
  padding: 8px;
  border-radius: 20px;
  background-color: #000000;
  background-color: #bbbbbb4d;

}
.slide p {
  position: absolute;
  font-size: 20px;
  bottom: 30px;
  right: 15px;
  width: 35%;
  margin: 0;
  opacity: 0;
  padding: 8px; 
  border-radius: 20px;
  background-color: #000000;
  background-color: #dad8d84d;
}
.slide h2 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  margin: 0;
  top: 8%;
  transform: rotate(90deg);
  transition: all 600ms ease-in-out;
  width: 50%;
}

.slide.active {
  flex: 10;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  color: #1b1b1b;

}
.slide.active h2 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  transform: rotate(0deg);
  top: 5%;
  left: 20px;
  color: #1b1b1b;
  transition: all 600ms ease-in-out;
}
.slide.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  color: #1b1b1b;
  transition: all 600ms ease-in;
}

label{
  font-family: 'Marcellus', serif;
  color: #2C2E43;
  font-size: 18px;
}
.text-input{
  font-family: 'Marcellus', serif;
  color: #2C2E43;
  font-size: 17px;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid;
  text-align: start;
  }

  .btn{
    font-family: 'Marcellus', serif;
  background-color: #2C2E43;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  width: 30%;
  }

  @media all and (max-width: 800px){
    .container {
      width: 100%;
      display: flex;
      padding: 0;
      }
    .heading{
      text-align: center;
      font-size: 16px;
    }
    .slide{
      height: 95vh;
      border-radius: 20px;
      margin: 3px;
      background-position: 30% 30%;

      
    }
    .slide.active {
      flex: 6;
      background-position: 45% 20%;
    }
    .slide h3 {
      font-size: 18px;
      bottom: 20px;
      left: 20px;
      padding: 7px;
      background-color: #2222224d;
    }
    .slide.active h3 {
      color: #e9e9e9;
    }
    .slide p {
      font-size: 16px;
      bottom: 20px;
      padding: 7px; 
      background-color: #2222224d;
      width: 45%;
    }
    .slide.active p {
      color: #e9e9e9;
    }
    .slide h2 {
      font-size: 18px;
      color: #fff;
      margin: 0;
      top: 5%;
      left: 1px;
    }

    .slide.active h2 {
      transition: opacity 0.3s ease-in 0.4s;
      top: 5%;
      left: 15px;
      color: #1b1b1b;
      transition: all 600ms ease-in-out;
      color: #fff;
      padding: 7px;
      background-color: #2222224d;
      border-radius: 20px;
    }
    .btn{
      font-family: 'Marcellus', serif;
    background-color: #2C2E43;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
    width: 50%;
    height: 40px;
    }
  }
  @media all and (max-width: 500px){
    .heading{
      text-align: center;
      font-size: 14px;
    }
    .slide{
      height: 90vh;
      border-radius: 20px;
      margin: 2px;
      color: #2C2E43;
    }
    .slide.active {
      flex: 7;
    }
    .slide h3 {
      font-size: 16px;
      bottom: 5%;
      left: 10px;
    }
    .slide p {
      font-size: 16px;
      bottom: 10px;
      padding: 7px; 
      background-color: #2222224d;
      width: 45%;
    }
    .slide h2 {
      font-size: 18px;
      color: #fff;
      margin: 0;
      top: 6%;
      left: 1px ;
      transform: rotate(90deg);
      transition: all 600ms ease-in-out;
    }
    .slide.active h2 {
      transition: opacity 0.3s ease-in 0.4s;
      top: 5%;
      left: 10px;
      color: #1b1b1b;
      transition: all 600ms ease-in-out;
      color: #fff;
      padding: 7px;
      background-color: #2222224d;
      border-radius: 20px;
    }
  }